<hr class="mt-4" />
<!-- Footer -->
<footer
  class="footer text-center text-lg-start text-white mt-5 footer col-md-14"
>
  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(36, 34, 34, 0.379)"
  >
    <div class="mb-3   " >
      <!-- Facebook -->
      <a
        href="https://www.facebook.com/youssef.elyaakoubi01"
        role="button"
        target="_blank"
        style="color: #3b5998; text-decoration: none"
      >
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>

      <!-- Twitter -->
      <a
        href="https://www.twitter.com/votre_compte"
        role="button"
        target="_blank"
        style="color: #55acee; text-decoration: none"
      >
        <i class="fab fa-twitter fa-lg"></i>
      </a>

      <!-- Google -->

      <!-- Instagram -->
      <a
        href="https://www.instagram.com/youssef.elyaakoubi01"
        role="button"
        target="_blank"
        style="color: #ac2bac; text-decoration: none"
      >
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </div>
    <p>© 2023 Copyright</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
