<div class="card col-md-14 mt-4" style="background-color: #4e524ab9">
  <div class="container col-md-10">
    <div class="mt-3 mb-5">
      <h2
        style="
          color: rgb(255, 255, 255);
          font-weight: bold;
          font-family: serif;
          text-align: left;
        "
      >
        III.A propos de nous
      </h2>
    </div>
    <div class="mb-3 mt-3">
      <div class="mt-5 mb-3">
        <div class="d-flex justify-content-center">
          <img
            style="height: 120px; width: 120px; border-radius: 40%"
            src="https://lh3.googleusercontent.com/a/AAcHTtdA1AdV8zBYk3va_7Eory06ca942Qg-Kr5PjoG9pg=s432-c-no"
            alt="EL YAAKOUBI YOUSSEF"
          />
        </div>

        <div class="d-flex justify-content-center mt-2">
          <p style="color: white; font-weight: bold">EL YAAKOUBI YOUSSEF</p>
        </div>
      </div>
      <p>
        - <b>EL YAAKOUBI YOUSSEF </b> est un développeur full stack avec une
        spécialisation dans le MEAN stack, un ensemble d'outils technologiques
        incluant MongoDB, Express.js, Angular et Node.js. Fort de son expertise,
        il excelle dans la création d'applications web complètes et
        interactives.
      </p>
      <p>
        - En plus de son rôle de développeur, EL YAAKOUBI YOUSSEF partage
        également ses connaissances en tant qu'enseignant en informatique au
        niveau collégial. Son objectif est d'aider les étudiants à développer
        des compétences pratiques dans le domaine de l'informatique, et de les
        accompagner dans leur évolution et leur épanouissement professionnel.
      </p>
      <p>
        - Avec une expérience diversifiée, tant en tant que développeur
        indépendant qu'en travaillant au sein d'équipes multidisciplinaires, EL
        YAAKOUBI YOUSSEF est habitué à relever des défis techniques et à
        proposer des solutions créatives répondant aux besoins des utilisateurs.
      </p>

      <p>
        - Doté d'une soif d'apprentissage inextinguible, EL YAAKOUBI YOUSSEF
        reste constamment à l'affût des dernières tendances et technologies du
        développement web. Il croit fermement que rester à jour est essentiel
        pour offrir des solutions innovantes et performantes.
      </p>
      <p>
        - En dehors du travail, EL YAAKOUBI YOUSSEF s'investit dans des projets
        personnels, explore de nouveaux concepts et contribue activement à des
        communautés de développeurs. Ouvert à la collaboration et aux
        opportunités de travail d'équipe, il est toujours prêt à relever de
        nouveaux défis.
      </p>
      <p>
        - Nous sommes ravis de vous présenter EL YAAKOUBI YOUSSEF, notre
        talentueux développeur Full Stack (MEAN) et enseignant en informatique.
        Rejoignez-nous dans notre passion pour l'innovation technologique et
        l'apprentissage continu.
      </p>

      <div style="text-align: end" class="mt-3">
        <i class="bi bi-file-earmark-text"></i>
        <a class="navbar-brand text-white" style="padding-left: 2px">
          <small>YO_Contrat</small>
        </a>
        <div>
          <small>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Abbas_Mahamat_Tolli_signature.svg/2560px-Abbas_Mahamat_Tolli_signature.svg.png"
              alt=""
              style="height: 20%; width: 20%"
          /></small>
        </div>
      </div>
      <div>
        <img
          style="height: 120px; width: 120px; border-radius: 100%; opacity: 0.9"
          src="https://previews.123rf.com/images/alonastep/alonastep1906/alonastep190600204/129343701-award-ribbon-gold-icon-golden-medal-design-isolated-on-white-background-symbol-of-winner.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
