<div class="card col-md-14 mb-3" style="background-color: #4e524ab9" >
<div class="d-flex justify-content-center  mt-3" >
  <img 
    src="https://cdn-icons-png.flaticon.com/512/197/197717.png"
    style="width: 60px; height: 60px; align-content: center;"
  />
  
</div>
<p style="text-align: center; font-family: serif; font-weight: bold;">Bienvenu!</p>
</div>
<div class="card col-md-14 d-flex flex-row " style="background-color: #4e524ab9" id="services">
  

  <div class="p-3 ms-3 ">
      <h2 style="color: white; font-weight: bold; font-family: serif" >
        I.Nos service:
      </h2>
      <h2
        style="
          color: white;
          font-weight: bold;
          font-family: serif;
          text-align: center;
        "
      ></h2>
  
      <div class=" mt-4">
        <p>
          - Notre application offre une facilité et une rapidité sans pareilles
          pour la création de votre compte. Grâce à une interface utilisateur
          simple et à un processus d'inscription optimisé, créez votre compte en
          toute simplicité.  
        </p>
      </div>
      <p>
          - Profitez de la fonctionnalité innovante qui vous
          permet de créer et de visualiser votre contrat en temps réel. Cette
          fonctionnalité offre un contrôle total sur le contenu de votre contrat,
          vous permettant de l'ajuster et de le modifier en fonction de vos
          besoins spécifiques.
      </p>
      <p>
          - Ne vous inquiétez plus de la légalité de vos
          contrats. Notre application comprend une fonctionnalité de vérification
          de la conformité juridique des contrats. Qu'il s'agisse de contrats en
          format image ou PDF, assurez-vous que vos documents sont conformes aux
          lois et réglementations en vigueur.
      </p>
      <p>
          - En résumé, notre application offre
          une solution complète et facile à utiliser pour la création de comptes,
          la rédaction de contrats et la vérification de leur conformité
          juridique.
      </p>
      <div style="text-align: end" class="mt-3">
        <i class="bi bi-file-earmark-text"></i>
        <a class="navbar-brand text-white" style="padding-left: 2px">
          <small>YO_Contrat</small>
        </a>
        <div>
          <small>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Abbas_Mahamat_Tolli_signature.svg/2560px-Abbas_Mahamat_Tolli_signature.svg.png"
              alt=""
              style="height: 20%; width: 20%"
          /></small>
        </div>
      </div>
    </div>

  <div class="p-2 mt-5 me-5">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
    style="height: 300px; width: 500px"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="https://img.freepik.com/photos-premium/document-accord-examen-homme-affaires-avant-signer-contrat_31965-147215.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://www.avocat-travail-montpellier.com/upload/faire-un-contrat-de-travail-1652684700-47380.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="https://www.justifit.fr/wp-content/uploads/2020/09/contrat-de-prof.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        style="color: black"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>

      <span class="visually-hidden" style="color: black">Next</span>
    </button>
  </div>
</div>

</div>

<div class="card col-md-14 d-flex flex-row mt-4" style="background-color: #4e524ab9">
  <div class="p-3 container" style="margin: auto">
    <img
      class="img"
      src="https://img.freepik.com/vecteurs-libre/signature-illustration-concept-contrat_114360-4879.jpg"
      alt=""
    />
  </div>
  <div class="p-3 me-2">
    <h3 style="color: white; font-weight: bold; font-family: serif">
      II.Cadre général:
    </h3>
    <h2
      style="
        color: white;
        font-weight: bold;
        font-family: serif;
        text-align: center;
      "
    >
      Des contrats de travail au Maroc
    </h2>

    <div class="">
      <p>
        - Les contrats de travail sont des accords juridiques essentiels qui
        régissent la relation entre l'employeur et l'employé. Au Maroc, comme
        dans de nombreux autres pays, ils sont soumis à un certain nombre de
        règles et de régulations visant à protéger les droits des travailleurs
        tout en fournissant un cadre pour les employeurs pour gérer leurs
        employés.
      </p>
    </div>
    <p>
      - Un contrat de travail au Maroc est défini comme un accord entre un
      employeur et un travailleur dans lequel le travailleur s'engage à fournir
      certains services sous la direction et le contrôle de l'employeur en
      échange d'une rémunération (Code du Travail, Maroc, Article 13). Cette
      définition englobe un large éventail de situations de travail, des
      contrats à durée indéterminée (CDI), qui n'ont pas de date de fin précise,
      aux contrats à durée déterminée (CDD), qui sont utilisés pour des emplois
      de nature temporaire.
    </p>
    <div style="text-align: end" class="mt-3">
      <i class="bi bi-file-earmark-text"></i>
      <a class="navbar-brand text-white" style="padding-left: 2px">
        <small>YO_Contrat</small>
      </a>
      <div>
        <small>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Abbas_Mahamat_Tolli_signature.svg/2560px-Abbas_Mahamat_Tolli_signature.svg.png"
            alt=""
            style="height: 20%; width: 20%"
        /></small>
      </div>
    </div>
  </div>
</div>

<app-about-us></app-about-us>
<app-footer></app-footer>

